CACHE_HOST="localhost"
CACHE_PORT=6379
CACHE_EXPIRATION=3600
CACHE_ENABLED=false

FRONTEND_ORIGIN="http://localhost:5173"
WEBSOCKET_ORIGIN="ws://localhost:5173"

DATABASE_URL="sqlite+aiosqlite:///{{projectDir}}/backend/data/main.db"
DATA_DIR="{{projectDir}}/backend/data"
BASE_PATH="/{{formattedProjectName}}"
PUBLIC_DIR="{{projectDir}}/backend/public"
MODELS_DIR="{{projectDir}}/backend/models"
TEMPLATES_DIR="{{projectDir}}/backend/templates"

PORT=80

DISABLE_AUTH="true"
USE_LEGACY_AUTH=true
LEGACY_AUTH_KEY="{{legacyAuthKey}}"
METRICS_USERNAME="admin"
METRICS_PASSWORD="{{metricsPassword}}"

VITE_BACKEND="http://localhost:8000/{{formattedProjectName}}"
VITE_SOCKET_SERVER="http://localhost:8000"
VITE_SOCKET_PATH="/{{formattedProjectName}}/ws/socket.io"
VITE_ENABLE_DEBUG=true